# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Flask
instance/
.env
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp
*.swo

# Upload klasörü
uploads/*
!uploads/.gitkeep

# OS
.DS_Store
Thumbs.db